<%- include('../partials/head', { title, description, request }) %>
<%- include('../partials/header') %>
<section class="py-5 text-center">
  <div class="container">
    <h1 class="display-6">Pagina nu exista</h1>
    <p class="lead">Ne pare rau, dar pagina pe care o cauti nu a fost gasita.</p>
    <a class="btn btn-primary" href="/">Inapoi la prima pagina</a>
  </div>
</section>
<%- include('../partials/footer') %>
