<%- include('../partials/head', { title, description, request }) %>
<%- include('../partials/header') %>
<section class="py-5 text-center">
  <div class="container">
    <h1 class="display-6">Eroare interna</h1>
    <p class="lead">A aparut o problema neasteptata. Echipa noastra tehnica a fost notificata.</p>
    <a class="btn btn-primary" href="/">Reveniti la pagina principala</a>
  </div>
</section>
<%- include('../partials/footer') %>
