<%- include('../partials/head', { title, description, request }) %>
<%- include('../partials/header') %>
<section class="py-5 text-center">
  <div class="container">
    <div class="card mx-auto shadow-sm" style="max-width: 500px;">
      <div class="card-body">
        <h1 class="h4">Cont creat cu succes</h1>
        <p>Te poti autentifica acum pentru a urmari progresul lucrarii de licenta si pentru a comunica cu echipa.</p>
        <a class="btn btn-primary" href="/autentificare">Autentifica-te</a>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
